#user {
    width: 100%;
    height: 30px;
    background: #e3e4e5;
}

#user .w ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    position: relative;
}

.dorpdown {
    margin-left: 10px;
}

#user .w .fr .spacer {
    width: 1px;
    height: 12px;
    margin-top: 9px;
    padding: 0;
    background: #ccc;
    overflow: hidden;
}

#user #ttbar-login {
    margin-right: 10px;
}

#ttbar-login a:nth-child(2) {
    color: red;
}

.iconfont {
    margin-left: 10px;
    float: right;
    line-height: 43px;
    font-size: 18px;
    display: block;
    width: 12px;
    height: 12px;
}

#user .w .fl .home {
    padding: 0px;
    width: 73px;
    height: 30px;
}

.imgHouse {
    margin-bottom: 4px;
    width: 21px;
    height: 22px;
}

#user .w ul li a:hover {
    color: red;
}

.dorpdown-layer {
    border: 1px solid #ddd;
    position: absolute;
    left: -1px;
    width: 280px;
    background: #ffffff;
    display: none;
}

.my-jd:hover {
    background: #ffffff;
}

.my-jd:hover .dorpdown-layer {
    display: block;
}

.myjdlist1 {
    width: 280px;
    height: 82px;
    border-bottom: 1px solid #e5e5e5;
}


.myjdlist1>div {
    width: 126px;
    height: 72px;
    float: left;
}

.item {
    height: 24px;
    margin-left: 10px;
}

.myjdlist2 {
    width: 280px;
    height: 59px;
}

.myjdlist2>div {
    width: 126px;
    height: 72px;
    float: left;
}
.Img{
    width: 100%;
}
.Img img{
    width: 100%;
    height: 110px;
}

.crumb-wrap {
    background: #f2f2f2;
    clear: both;
}
.w{
    width: 1210px;
    height: 44px;
}
.crumb{
    width: 487px;
    height: 44px;
    float: left;
}
.curm_list{
    width: 487px;
    height: 44px;
}
.curm_list .curm_list_item{
    cursor: pointer;
    margin-top: 13px;
    height: 18px;
    float: left;
    margin-right: 10px;
}
.curm_list .curm_list_item:hover{
    color: red;
}
.crumb  .curm_list_item2{
    margin-right: 10px;
    cursor: pointer;
    float: left;
    width: 62px;
    height: 22px;
    background: #fff;
    border: 1px solid #ccc;
    line-height: 22px;
    margin-top: 10px;
}
.crumb  .curm_list_item2 a{
    margin-left: 3px;
}
.curm_list_item2 .arr-close{
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 7px;
    margin: 0 10px 0 5px;
    background: url(../img/arr-close.png) no-repeat;
    transition: .2s ease;
    margin-bottom: 5px;
    /* -webkit-transition: .2s ease; */
}
.curm_list_item2:hover .arr-close{
    -webkit-transform:rotate(180deg);

}
.main{
    width: 1210px;
    margin: auto;
}
.preview-wrap{
    width: 352px;
    float: left;
}
.preview-wrap-img{
    width: 352px;
    height: 352px;
    overflow: hidden;
}
.preview-wrap-item{
    overflow: hidden;
}
.preview-wrap-img .none{
    display: none;
}
.preview-wrap-img .block{
    display: block;
}
.preview-wrap-imgmin{
    width: 352px;
    height: 54px;
}
.preview-wrap-imgmin-item{
    width: 54px;
    height: 54px;
    float: left;
    border: 2px solid #fff;
}
.preview-wrap-imgmin-item img{
    width: 100%;
    height: 100%;
}
.bordermin{
    border: 2px solid #e53e41;
}
.itemInfo-wrap{
    width: 590px;
    float: left;
    margin-left: 30px;
}
.sku-name{
    width: 590px;
    height: 38px;
    margin-bottom: 5px;
    padding-top: 8px;
    font: 700 16px Arial,"microsoft yahei";
}
.sku-name div{
    float: left;
    margin: 0 10px;
    width: 58px;
    height: 16px;
    background: #e53e41;
    line-height: 16px;
    text-align: center;
    margin-top: 2px;
}
.sku-name div a{
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.news{
    height: 18px;
    padding-left: 11px;
    color: #e53e41;
}
.news a{
    text-decoration: underline;
    color: #5e69ad;
}
.summary{
    margin: 10px 0px;
    padding-top: 10px;
    position: relative;
    padding-bottom: 5px;
    background: #f3f3f3;
}
.summary .summary-price{
    height: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}
.jdj{
    float: left;
    line-height: 22px;
    padding-left: 10px;
    color: #999999;
    width: 54px;
    height: 22px;
}
.summary-price .jdj_price{
    margin-left: 70px;
    font-size: 22px;
    color: #E4393C;
}
.summary-price a{
    color: #5e69ad;
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 10px;
}
.summary1{
    height: 31px;
}
.item-border{
    color: #df3033;
    background: 0 0;
    border: 1px solid #df3033;
    padding: 2px 3px;
    margin-right: 5px;
    display: inline-block;
    line-height: 16px;
    margin-left: 20px;
}
.summary1-item{
    display: inline-block;
}
.item-hl{
    color: #666;
    line-height: 18px;
    display: inline-block;
}
.pickOneTip{
    font-size: 12px;
    color: #999999;
    margin-left: 80px;
}
.sprite-tips{
    display: inline-block;
    margin-right: 6px;
    vertical-align: -3px;
    width: 11px;
    height: 15px;
    background-image: url(../img/__sprite.png);
    background-position: -16px -20px;
}
.summary-stock-left{
    float: left;
    padding-left: 10px;
    font-family: simsun;
    color: #999;
}
.summary-stock-right{
    margin-left: 70px;
}
.summary-stock-right ul li{
    margin-right: 5px;
    float: left;
    font-size: 12px;
    color: #646FB0;
}
.summary-stock2{
    line-height: 32px;
    height: 32px;
    margin-left: 70px;
}
.summary-stock2 span{
    color: #E4393C;
}
.summary-stock3{
    margin-bottom: 2px;
    margin-top: 20px;
}
.summary-stock4{
    border-bottom: 1px solid #999;
    margin: 10px 0px;
}
.kg{
    margin-left: 70px;
    color: #999;
    height: 22px;
    line-height: 22px;
}
.choose-amount{
    width: 58px;
    height: 44px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    margin-right: 10px;
    float: left;
    margin-top: 30px;
}
.choose-amount .buy-num{
    display: block;
    width: 43px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    top: 1px;
    left: 0;
    border: none;
    border: 0;
    text-align: center;
}
.choose-amount a{
    display: block;
    width: 15px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -1px;
    border: 1px solid #ccc;
}
.btn-reduce{
    color: #ccc;
    cursor: not-allowed;
    bottom: -1px;
}
.InitCartUrl{
    width: 142px;
    height: 46px;
    background: #df3033;
    font-weight: 700;
    color: #fff;
    float: left;
    line-height: 46px;
    text-align: center;
    font-size: 18px;
    margin-top: 29px;
    cursor: pointer;
}